<div class="float-child1" *ngIf="data">
  <div class="first">
    <img class="vectorNew" src="/assets/image/Mask group.png" alt="image" />
    <img class="img" src="/assets/image/Group.png" alt="image" />
    <h3 class="content">Experience Seamless Stock Search Here</h3>
    <p class="paraNew">Kanini Ticker Platform</p>
    <img class="vector1" src="/assets/image/Vector1.png" alt="image" />
  </div>
</div>

<div class="float-child2" *ngIf="data">
  <img class="vectorNew2" src="/assets/image/Group 427318265.jpg" alt="image" />
  <h3 class="para">Sign In</h3>
  <p class="para2">Welcome back! Please enter email id and password</p>
  <div class="col-xs-10">
    <form #f="ngForm">
      <div id="user-data" ngModelGroup="userData">
        <div class="form-group">
          <label class="lab">Email Id</label>
          <input
            class="form-control lab"
            type="email"
            ngModel
            name="email"
            required
            email
            #email="ngModel"
          />
          <span class="help-block lab" *ngIf="!email.valid && email.touched"
            >Please Enter a Valid Email</span
          >

          <div>
            <label class="lab">Password</label>
            <input
              class="form-control lab"
              type="password"
              ngModel
              name="password"
              required
              password
              #password="ngModel"
              minlength="4"
              maxlength="12"
            />
            <span
              class="help-block lab"
              *ngIf="!password.valid && password.touched"
              >Please Enter a Password</span
            >
          </div>
        </div>
      </div>
      <button
        [disabled]="!f.valid"
        class="btn btn-primary"
        style="margin-left: 390px"
        type="submit"
      >
        Sign In
      </button>
    </form>
  </div>
</div>

<div class="layout" *ngIf="!data && !new">
  <img class="vector" src="/assets/image/Group 427318265.jpg" alt="image" />
  <a>
    <img
      (click)="onLogout()"
      class="logoutNew"
      src="/assets/image/Frame 427319248.png"
      alt="image"
    />
  </a>
  <div>
    <h2 class="heading" >
      <p>{{suggestionList.name}}</p>
    </h2>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-block">
            <img
              class="vector4"
              src="/assets/image/Group 33 (1).png"
              alt="image"
              class="img-fluid"
            />
            <div class="card-title">
                <div class="card-text">
                  <p>{{list[0].name}}</p>
                </div>
            </div>
            <h4>{{list[0].value}}</h4>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-block">
            <img
              class="vector4"
              src="/assets/image/Group 33 (2).png"
              alt="image"
              class="img-fluid"
            />
            <div class="card-title">
                <div class="card-text">
                  <p>{{list[1].name}}</p>
                </div>
            </div>
            <h4>{{list[1].value}}</h4>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-block">
            <img
              class="vector4"
              src="/assets/image/Group 33 (3).png"
              alt="image"
              class="img-fluid"
            />
            <div class="card-title">
                <div class="card-text">
                  <p>{{list[2].name}}</p>
                </div>
            </div>
             <h4>{{list[2].value}}</h4>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-block">
            <img
              class="vector4"
              src="/assets/image/Group 33 (4).png"
              alt="image"
              class="img-fluid"
            />
            <div class="card-title">
                <div class="card-text">
                  <p>{{list[3].name}}</p>
                </div>
            </div>
            <h4>{{list[3].value}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
              <div class="card-block">
                <img
                  class="vector4"
                  src="/assets/image/Group 427319281.png"
                  alt="image"
                  class="img-fluid"
                />
                <div class="card-title">
                    <div class="card-text">{{list[4].name}}</div>
                    <p>{{list[4].value}}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card">
              <div class="card-block">
                <img
                  class="vector4"
                  src="/assets/image/Group 427319282.png"
                  alt="image"
                  class="img-fluid"
                />
                <div class="card-title">
                    <div class="card-text">{{list[5].name}}</div>
                    <p>{{list[5].value}}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card">
              <div class="card-block">
                <img
                  class="vector4"
                  src="/assets/image/Group 427319284.png"
                  alt="image"
                  class="img-fluid"
                />
                <div class="card-title">
                    <div class="card-text">{{list[6].name}}</div>
                    <p>{{list[6].value}}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card">
              <div class="card-block">
                <img
                  class="vector4"
                  src="/assets/image/Group 427319283.png"
                  alt="image"
                  class="img-fluid"
                />
                <div class="card-title">
                    <div class="card-text">{{list[7].name}}</div>
                    <p>{{list[7].value}}</p>

                     <div class="row">
                      <div class="col-md-3"> 
                        <div class="card">
                          <div class="card-block">
                            <div class="card-title">
                              <div class="card-text">
                                <h4>{{list[8].name}}</h4>
                              </div>
                               <hr>
                              <p class="card-text">{{list[9].name}}{{list[9].value}}</p>
                              <p class="card-text">{{list[10].name}}{{list[10].value}} </p>
                              <p class="card-text">{{list[11].name}}{{list[11].value}} </p>
                              <p class="card-text">{{list[12].name}}{{list[12].value}} </p>
                              <p class="card-text">{{list[13].name}}{{list[13].value}} </p>
                              <p class="card-text">{{list[14].name}}{{list[14].value}} </p>
                            </div>
                          </div>
                        </div>
                      </div>
                     </div>
                </div>
              </div>
            </div>
          </div>    
    </div>
  </div>

  <div class="container"> 
      <div class="row">
   <div class="col-md-3">
    <div class="card-title">
      <h4 class="card-title">Finstar</h4>
      <rating  [(ngModel)]="value" 
      [max]="max" 
      [readonly]="false" 
      class="rating"></rating>
    </div>
   </div>
 
        <div class="row">
            <input type ="text" value="Ownership"/>
            <input style="margin-left: 25px;" type ="text" value="Valuation"/>
            <div class="row">
                <input style ="margin-top: 20px;" type="text" value="Effiency">
                <input style="margin-left: 25px;" type="text" value="Financials">
            </div> 
        </div>     
  </div>
  <app-loginpage *ngIf="data && new"></app-loginpage>
</div>


