<div class="layout" *ngIf="!logout && !searchPage">
    <img class="vector" src="/assets/image/Group 427318265.jpg" alt="image">
    <a>
        <img (click)="onLogut()" class="logoutNew" src="/assets/image/Frame 427319248.png" alt="image">
    </a>
    <div>
        <h1 class="content">Investing Search Engine</h1>
    </div>
    <div>
        <h3 class="content1">Experience Seamless Stock Search Here</h3>
    </div>
        <div class="wrapper">
            <div class="ng-autocomplete">
                <ng-autocomplete
                  [data]="suggestion"
                  [searchKeyword]="keyword"
                  placeholder="Search For Stocks"
                  (selected)='selectEvent($event)'
                  (inputFocused)='onFocused($event)'
                  historyIdentifier="suggestion"
                  [itemTemplate]="itemTemplate"
                  [notFoundTemplate]="notFoundTemplate">
                </ng-autocomplete>

                <ng-template #itemTemplate let-item>
                  <a [innerHTML]="item.name"></a>
                  <button class="btn btn-primary" [innerHTML]="item.value"></button>
                </ng-template>

              
              
                <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>
            </div>    
        </div>

       

        <div>
            <h3 class="content1">What's Trending</h3> 
        </div>
        <div>
            <img class="icon1" src="/assets/image/Frame 427319310.png" alt="image">
        </div>
        <div>
            <img class="icon1" src="/assets/image/Frame 427319311.png" alt="image">
        </div>
</div>

<img *ngIf="!logout && !searchPage" class="mask" src="/assets/image/Mask group (1).png" alt="image">

<app-logout *ngIf="logout"></app-logout>

<app-status [suggestionList]="suggestionList"  *ngIf="searchPage && !logout"></app-status>